<h2>UI Elements</h2>

<h3>Buttons</h3>

<p>
  Elements: input, button, a. All have class 'button'.
</p>

<h4>Small</h4>

<p>
  All have class 'small'.
</p>

<input class="button small" type="button" value="Button">
<input class="button small" type="submit" value="Button">
<button class="button small" type="button">Button</button>
<a class="button small" href="#">Button</a>

<h4>Medium</h4>

<p>
  All have class 'medium'.
</p>

<input class="button medium" type="button" value="Button">
<input class="button medium" type="submit" value="Button">
<button class="button medium" type="button">Button</button>
<a class="button medium" href="#">Button</a>

<h4>Large</h4>

<p>
  All have class 'large'.
</p>

<input class="button large" type="button" value="Button">
<input class="button large" type="submit" value="Button">
<button class="button large" type="button">Button</button>
<a class="button large" href="#">Button</a>

<h3>Menu</h3>

<p>
  Elements: div, a. Div has class 'menu'.
</p>

<div class="menu">
  <a href="#">Item 1</a>
  <a href="#">Item 2</a>
  <a href="#">Item 3</a>
  <a href="#">Item 4</a>
  <a href="#">Item 5</a>
</div>

<p>
  Elements: ul, li, a. Ul has class 'menu'.
</p>

<ul class="menu">
  <li><a href="#">Item 1</a></li>
  <li><a href="#">Item 2</a></li>
  <li><a href="#">Item 3</a></li>
  <li><a href="#">Item 4</a></li>
  <li><a href="#">Item 5</a></li>
</ul>

<h3>Breadcrumbs</h3>

<p>
  Elements: div, a. Div has class 'breadcrumbs'.
</p>

<div class="breadcrumbs">
  <a href="#">Item 1</a>
  <a href="#">Item 2</a>
  <a href="#">Item 3</a>
  <a href="#">Item 4</a>
  <a href="#">Item 5</a>
</div>

<p>
  Elements: ul, li, a. Ul has class 'breadcrumbs'.
</p>

<ul class="breadcrumbs">
  <li><a href="#">Item 1</a></li>
  <li><a href="#">Item 2</a></li>
  <li><a href="#">Item 3</a></li>
  <li><a href="#">Item 4</a></li>
  <li><a href="#">Item 5</a></li>
</ul>

<h3>Pagination</h3>

<p>
  Elements: div, a. Div has class 'pagination'.
</p>

<div class="pagination">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
</div>

<p>
  Elements: ul, li, a. Ul has class 'pagination'.
</p>

<ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>

<h3>Notifications</h3>

<p>
  Elements: div, li. Div has classes 'notification', 'warning', 'success', 'error'.
</p>

<div class="notification">
  <p>
    This is a notification!
  </p>
</div>

<div class="notification warning">
  <p>
    This is a warning notification!
  </p>
</div>

<div class="notification success">
  <p>
    This is a success notification!
  </p>
</div>

<div class="notification error">
  <p>
    This is an error notification!
  </p>
</div>
