<h2>Forms and input</h2>

<h3>Not in a form</h3>
<form>
  <button type="button">Button</button>
  <input type="button" value="Input">
  <label>Checkbox</label>
  <input type="checkbox">
  <label>Radio</label>
  <input type="radio">
  <label>Color</label>
  <input type="color">
  <label>Time</label>
  <input type="time">
  <label>Week</label>
  <input type="week">
  <label>Month</label>
  <input type="month">
  <label>Date</label>
  <input type="date">
  <label>Date Time</label>
  <input type="datetime">
  <label>Date Time Local</label>
  <input type="datetime-local">
  <label>Email</label>
  <input type="email">
  <label>Password</label>
  <input type="password">
  <label>File</label>
  <input type="file">
  <label>Image</label>
  <input type="image">
  <label>Number</label>
  <input type="number">
  <label>Range</label>
  <input type="range">
  <label>Reset</label>
  <input type="reset">
  <label>Search</label>
  <input type="search">
  <label>Tel</label>
  <input type="tel">
  <label>Url</label>
  <input type="url">
  <label>Text</label>
  <input type="text">
  <label>Textarea</label>
  <textarea></textarea>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</form>

<h3>In a form</h3>
<form>
  <button type="button">Button</button>
  <input type="button" value="Input">
  <label>Checkbox</label>
  <input type="checkbox">
  <label>Radio</label>
  <input type="radio">
  <label>Color</label>
  <input type="color">
  <label>Time</label>
  <input type="time">
  <label>Week</label>
  <input type="week">
  <label>Month</label>
  <input type="month">
  <label>Date</label>
  <input type="date">
  <label>Date Time</label>
  <input type="datetime">
  <label>Date Time Local</label>
  <input type="datetime-local">
  <label>Email</label>
  <input type="email">
  <label>Password</label>
  <input type="password">
  <label>File</label>
  <input type="file">
  <label>Image</label>
  <input type="image">
  <label>Number</label>
  <input type="number">
  <label>Range</label>
  <input type="range">
  <label>Reset</label>
  <input type="reset">
  <label>Search</label>
  <input type="search">
  <label>Tel</label>
  <input type="tel">
  <label>Url</label>
  <input type="url">
  <label>Text</label>
  <input type="text">
  <label>Textarea</label>
  <textarea></textarea>
  <select>
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
  </select>
</form>
